.single-item{
    visibility: visible;
    animation-delay: 100ms;
    animation-name: fadeInUp;
    margin-bottom: 30px;
    /* flex: 0 0 25%;
    max-width: 25%; */
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

/* .single-portfolio-content{
    position: relative;
    z-index: 1;
    transition-duration: 500ms;
    overflow: hidden;
    visibility: visible;

} */
/* 
.single-portfolio-content img{
    transition-duration: 500ms;
    width: 100%;
    vertical-align: middle;
    border-style: none;
    overflow-clip-margin: content-box;
    overflow: clip;
    visibility: visible;
} */
/* 
.hover-content {
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    visibility: hidden;
    z-index: 10;
} */

.portfolio-img{
    margin-top: -26px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -26px;
    z-index: 100;
    display: inline-block;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background-color: #fc6060;
    text-align: center;
    line-height: 52px;
    font-size: 30px;
    color: #ffffff;
    text-decoration: none;
    transition-duration: 500ms;
    outline: none;
    font-weight: 500;
    cursor: pointer;
}


.single-portfolio-content {
    position: relative;
    z-index: 1;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
    overflow: hidden; }
    .single-portfolio-content img {
      width: 100%;
      height: 200px;
      -webkit-transition-duration: 500ms;
      -o-transition-duration: 500ms;
      transition-duration: 500ms; }
    .single-portfolio-content .hover-content {
      -webkit-transition-duration: 500ms;
      -o-transition-duration: 500ms;
      transition-duration: 500ms;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.6);
      opacity: 0;
      visibility: hidden;
      z-index: 10; }
      .single-portfolio-content .hover-content a {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: 0;
        margin-left: -26px;
        z-index: 100;
        display: inline-block;
        width: 52px;
        height: 52px;
        border-radius: 50%;
        background-color: #fc6060;
        text-align: center;
        line-height: 52px;
        font-size: 30px;
        color: #ffffff; }
        .single-portfolio-content .hover-content a:hover, .single-portfolio-content .hover-content a:focus {
          background-color: #000000; }
    .single-portfolio-content:hover img, .single-portfolio-content:focus img {
      -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2); }
    .single-portfolio-content:hover .hover-content, .single-portfolio-content:focus .hover-content {
      opacity: 1;
      visibility: visible; }
      .single-portfolio-content:hover .hover-content a, .single-portfolio-content:focus .hover-content a {
        margin-top: -26px; }
  